@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("Gilroy-Light.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("Gilroy-Regular.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("Gilroy-Medium.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("Gilroy-Bold.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("Gilroy-Heavy.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("Gilroy-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("Gilroy-HeavyItalic.woff") format("woff");
}