@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

$bg-color: $black;

html,
body,
#root {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: $bg-color;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    overflow: auto;
}

code {
    background-color: #2b2b2b;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.bg-black {
    background-color: $black;
}

.navbar-img {
    height: 40px;
    width: 40px;
}
